# ?
.vscode
.gitmodules

# secrets
.vault_pass.sh

# rust output and .lock
roles/back/files/target
roles/back/files/Cargo.lock

# local config.yml, for testing
roles/back/files/config.yml

# hugo generated
roles/deploy/files/hugo/public
roles/deploy/files/hugo/resources
roles/deploy/files/hugo/.hugo_build.lock

# these could eventually include larger files, so i'm gitignoring it
roles/media/files