rasbot:
  enabled: {{ rasbot.enabled }}
  webhook: "{{ rasbot.webhook }}"
hosts:
  enabled: {{ hosts.enabled }}
  refresh_rate: {{ hosts.refresh_rate }}
  timeout_dur: {{ hosts.timeout_dur }}
  hosts:
{% for host in hosts.hosts %}
    - ip: "{{ host.ip }}"
      network: "{{ host.network }}"
      region: "{{ host.region }}"
      crits: {{ host.crits }}
      spread: {{ host.spread }}
{% endfor %}
