#im_feeling_lucky:enabled {
    border-color: magenta;
}

.search {
    border-color: green;
    color: white;
}

.search:disabled {
    border-color: red;
    color: grey;
}

#server_list {
    background-color: rgb(33, 33, 33);
    margin: 10px 40px;
    padding: 20px 0px;
}

a.join {
    color: rgb(128, 255, 128);
    background-color: rgba(0, 128, 0, 0.1);
}

a.join:hover {
    background-color: rgba(0, 128, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

span.full_or_empty {
    color: rgb(255, 188, 188);
}

span.grey {
    color: rgb(144, 144, 144);
}